# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# Flash CS cache
SymDepend.cache

# Vim temp files
*.swp
*.swo
*.swn
